/* PC */
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
  .mobile-footer {
    display: none;
  }
}
/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  /* Header */
  .header-container::after {
    width: 0;
  }
  .header .header-nav {
    display: none;
  }
  .header .sign-up {
    margin-right: 30px;
  }
  .header-menu svg {
    height: 28px;
    color: var(--primary-color);
  }
  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.2s linear;
  }
  .menu-checkbox:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer {
    padding: 40px;
  }
  .mobile-header-logo {
    width: 30%;
  }
  .menu-drawer .header-nav {
    margin-left: 0;
  }
  .menu-drawer .header-list {
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px 0;
  }
  .menu-drawer .header-link {
    padding: 0;
    font-size: 2rem;
  }
  /* Hero */
  .hero {
    margin-top: 55px;
  }
  .hero-content {
    flex-direction: column;
    gap: 64px 0;
  }
  .hero-info {
    align-self: flex-start;
  }
  .hero-media {
    left: 16.2%;
    transform: translateX(-50%);
  }
  /* Partners */
  .partner-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  /* Process */
  .process-item-media {
    display: none;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Hero */
  .hero-heading {
    font-size: 4rem;
  }
  .hero-art {
    display: none;
  }
  .hero-contact {
    margin-top: 30px;
  }
  /* Service */
  .service-list {
    flex-wrap: wrap;
    overflow: hidden;
    height: 477px;
  }
  .service-item {
    width: calc(50% - 8px);
  }
  /* About */
  .about-img:last-child {
    display: none;
  }
  .about-stat {
    bottom: initial;
    top: 0;
    left: 0;
  }
  .about-content {
    width: 59.5%;
  }
  .about-img:first-child {
    bottom: 0;
  }
  /* Process */
  .process {
    margin-top: 150px;
  }
  .process-list {
    margin-top: 56px;
  }
  .process-item-content {
    gap: 0 23px;
  }
  .process-item {
    gap: 0 68px;
  }
  /* Project */
  .project-content {
    gap: 0 14px;
  }
  .project-heading::after {
    width: 0;
  }
  .project-art img:last-child {
    right: 327px;
  }
  .project-art img:first-child {
    top: 205px;
    right: 153.7px;
  }
  /* Feature */
  .feature-container {
    padding: 100px 0 48px;
  }
  .feature-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
    gap: 45px;
  }
  .feature-item:hover {
    transform: translateY(0);
  }
  /* Blog */
  .blog-heading::after {
    right: 115px;
  }
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  /* Footer  */
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-big-heading {
    font-size: 2.5rem;
  }
  .mobile-footer {
    display: none;
  }
}
/* Mobile  */
@media screen and (max-width: 767.98px) {
  /* Header */
  .header-logo {
    width: 22.8%;
  }
  .header .sign-up {
    --height: 32px;
    min-width: 92px;
    font-size: 1.2rem;
    border-radius: 43px;
  }
  .header-menu svg {
    height: 24px;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
  }
  .mobile-header-logo {
    width: 50%;
  }
  .menu-drawer .header-link {
    font-size: 1.6rem;
  }
  /* Hero */
  .hero-heading {
    font-size: 3rem;
    line-height: 133.333%;
    max-width: 233px;
  }
  .hero-img {
    width: 85.351px;
    height: 196.898px;
  }
  .hero-media {
    left: 12%;
    gap: 0 8px;
  }
  .hero-media::after {
    width: 205px;
    height: 205px;
  }
  .hero-info {
    padding-right: 0;
  }
  .hero-desc {
    margin-top: 20px;
    max-width: 240px;
    font-size: 1.4rem;
    line-height: 171.429%;
  }
  .hero-contact {
    margin-top: 16px;
    gap: 0 25px;
  }
  .hero-btn {
    --height: 35px;
    min-width: 107px;
    font-size: 1.2rem;
  }
  .play-btn {
    width: 30px;
    height: 30px;
  }
  .half-circle-button {
    width: 41px;
    height: 41px;
    border: 3px solid var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .play-btn-desc {
    font-size: 1.4rem;
  }
  .hero-art img:last-child {
    width: 19.966px;
    height: 19.957px;
    left: 0;
    top: 55%;
  }
  .hero-art img:first-child {
    width: 151px;
    top: 55%;
    height: 100px;
    left: 84px;
  }
  .hero-art img:nth-child(3) {
    width: 18.167px;
    height: 18.159px;
    bottom: -2%;
    right: 5px;
  }
  .hero-art img:nth-child(2) {
    width: 137.454px;
    height: 91.831px;
    bottom: -4%;
    right: 14px;
  }
  /* Partners */
  .partner {
    margin-top: 200px;
  }
  .partner-container {
    padding: 50px 47px 52px 32px;
    gap: 33px;
    width: 335px;
    height: 251px;
    border-radius: 30px;
  }
  .partner-container figure:not(:nth-child(3)) img {
    width: 84px;
  }
  figure:nth-child(3) img {
    font-size: 2rem;
  }
  /* Service */
  .service-container {
    position: relative;
    padding-bottom: 0;
  }
  .service-heading {
    font-size: 3rem;
    line-height: 133.333%;
  }
  .service-left figure {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 55%;
  }
  .service-left figure:first-child {
    left: -10px;
  }
  .service-left figure:last-child {
    right: -10px;
  }
  .service-heading::after {
    bottom: 13px;
    right: 114px;
  }
  .service-list {
    overflow: hidden;
    margin-top: 60px;
    padding-bottom: 50px;
  }
  .service-item {
    flex-shrink: 0;
    width: 100%;
    margin-left: 10.5%;
  }
  .service-item:hover .service-item-content {
    transform: translateX(0);
  }
  .service-img {
    width: 260.629px;
    height: 224px;
  }
  .service-item-content {
    padding: 17px 55px 27px 13px;
    margin: 0;
    border-radius: 0 0 20px 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    max-width: 260.629px;
  }
  .service-item-heading {
    font-size: 1.8rem;
  }
  .service-item-desc {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 200%;
  }
  /* About */
  .about {
    margin-top: 18px;
  }
  .about-info {
    flex-direction: column;
    gap: 157px 0;
  }
  .about-thumb .about-img {
    width: 152.332px;
    height: 257.462px;
  }
  .about-img:first-child {
    bottom: -34px;
  }
  .about-art img:last-child {
    width: 38.124px;
    height: 38.106px;
    left: -14px;
    top: 36px;
  }
  .about-art img:first-child {
    width: 286.693px;
    height: 190.871px;
    left: 0;
    top: 20px;
  }
  .about-thumb {
    gap: 0 11px;
  }
  .about-stat {
    right: 20px;
    bottom: -103px;
  }
  .about-content {
    width: 100%;
  }
  .about-heading {
    margin-top: 12px;
    font-size: 3rem;
    line-height: 133.333%;
    max-width: 263px;
  }
  .about-desc {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 185.714%;
  }
  .about-content-stat {
    margin-top: 29px;
    gap: 0 15px;
    padding-bottom: 11px;
  }
  .about-content .about-content-stat:last-child {
    margin-top: 11px;
  }
  .about-content-stat span:first-child {
    font-size: 2.6rem;
  }
  .about-content-stat span:last-child {
    font-size: 1rem;
    line-height: 200%;
    min-width: 260px;
  }
  /* Process */
  .process {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .process-heading {
    padding-right: 0;
    margin-top: 16px;
    font-size: 3rem;
    line-height: 133.333%;
  }
  .process-heading::after {
    right: 110px;
    bottom: 15px;
  }
  .process-list {
    margin-top: 59px;
  }
  .process-item {
    flex-direction: column;
    border-radius: 0;
  }
  .process-item:not(:first-child) {
    padding: 36px 0px 21px 18px;
  }
  .process-item:hover,
  .process-item:hover .process-item-heading {
    transform: translateX(0);
  }
  .process-item:hover {
    border-radius: 33px;
  }
  .process-number {
    font-size: 5rem;
  }
  .process-item-content {
    gap: 0 43px;
    align-self: flex-start;
  }
  .process-item-heading {
    font-size: 2.2rem;
  }
  .learn-more {
    text-decoration: none;
    margin-left: 112px;
  }
  .process-item-desc {
    margin-top: 22px;
    font-size: 1.4rem;
    line-height: 200%;
    max-width: 100%;
  }
  /* Project */
  .project-container {
    padding: 53px 0 101px;
  }
  .project-content {
    flex-direction: column;
    align-items: initial;
    gap: 8px 0;
  }
  .project-heading {
    font-size: 3rem;
    max-width: 268px;
    line-height: 133.333%;
  }
  .project-heading::after {
    width: 38px;
    bottom: 13px;
    right: -49px;
  }
  .project-desc {
    max-width: 233px;
    font-size: 1.4rem;
    line-height: 171.429%;
  }
  .project-link {
    margin-top: 18px;
  }
  .project-media video {
    margin-top: 136px;
  }
  .project-art img:last-child {
    top: 310px;
    right: 100px;
    width: 72.033px;
    height: 72px;
  }
  .project-art img:first-child {
    width: 380.208px;
    height: 253.13px;
    top: 319px;
    right: -23.3px;
  }
  /* Feature */
  .feature-container {
    padding: 50px 0 25px;
    text-align: center;
  }
  .feature-heading {
    font-size: 3rem;
    line-height: 133.333%;
    max-width: 275px;
  }
  .feature-desc {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 171.429%;
    max-width: 306px;
  }
  .feature-list {
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: 30px 0;
  }
  .feature-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 79px 19px 74px 30px;
  }
  .feature-item-content {
    margin-top: 26px;
  }
  .feature-sub-desc {
    font-size: 1.2rem;
    line-height: 200%;
  }
  /* Blog */
  .blog-container {
    padding: 25px 0 80px;
  }
  .blog-content {
    gap: 12px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .blog-heading {
    font-size: 3rem;
    line-height: 133.333%;
  }
  .blog-heading::after {
    right: 69px;
  }
  .blog-desc {
    font-size: 1.4rem;
    line-height: 185.714%;
    max-width: 272px;
  }
  .blog-list {
    margin-top: 38px;
    grid-template-columns: 1fr;
    gap: 52px;
  }
  .blog-item-heading {
    font-size: 1.6rem;
    line-height: 187.5%;
  }
  .blog-date {
    font-size: 0.8rem;
  }
  .blog-item:hover .blog-item-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Footer */
  .footer-container {
    padding: 95px 0 0;
  }
  .footer .footer-column:not(:first-child) {
    display: none;
  }
  .dropdown-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .dropdown-list .footer-column:not(:first-child) {
    margin-top: 0;
  }
  .footer-big-heading {
    font-size: 2.4rem;
  }
  .footer-column input {
    font-size: 2rem;
  }
  .footer-column form {
    width: 326px;
    gap: 0 25px;
  }
  .mobile-footer {
    background-color: var(--primary-color);
  }
  .footer-menu svg {
    height: 24px;
    color: #fff;
    position: relative;
    left: 306px;
    bottom: 35px;
  }
  .footer-checkbox:checked ~ .dropdown-list {
    display: none;
  }
}
