:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Public Sans", sans-serif;
  --primary-color: #143c3c;
  --text-color-black-gray: #575d5e;
  --primary-color-black: #152427;
  --text-color-light-gray: #7d8188;
  --secondary-color-light-green: #e2eddf;
  --secondary-color-blue: #83a17d;
  --secondary-color-gray: #6a8383;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
a,
button {
  font-family: var(--primary-font);
}
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 57px;
  font-family: var(--secondary-font);
  color: #fff;
  text-align: center;
  height: var(--height);
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: --height;
  cursor: pointer;
  border-radius: 999px;
  border: 1.5px solid var(--primary-color);
  background: var(--primary-color);
  min-width: 173px;
}
.btn:hover {
  opacity: 0.8;
}
.heading {
  color: var(--primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 123.81%;
}
.desc {
  color: var(--text-color-light-gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 162.5%;
}
.sub-heading {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 46px;
  letter-spacing: 0.6px;
  position: relative;
}
.sub-heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 1px;
  background: var(--primary-color-black);
}
/* Header */
.header {
  padding-top: 18px;
  position: sticky;
  top: -18px;
  z-index: 2;
  background-color: #fff;
}
.header-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.header-container::after {
  position: absolute;
  content: "";
  bottom: 4px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    18deg,
    #fff 0%,
    #dddcdc 51.25%,
    rgba(212, 212, 212, 0) 100%
  );
}
.header-nav {
  margin-left: 406.22px;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-link {
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  padding: 0 19px;
  display: block;
}
.header-link.active,
.header-link:hover {
  color: var(--primary-color-black);
}
.header-link.active::before {
  content: "";
  background-color: transparent;
  width: 70%;
  height: 25px;
  position: absolute;
  bottom: -25px;
}
.header-link.active::after {
  content: "";
  color: var(--primary-color-black);
  position: absolute;
  left: 19px;
  bottom: -25px;
  width: 16px;
  height: 2px;
  background: var(--primary-color);
}
.sign-up {
  margin-left: auto;
}
/* Hero */
.hero {
  margin-top: 64px;
  min-height: calc(100% - 95px);
}
.hero-container {
  position: relative;
}
.hero-art img {
  position: absolute;
  z-index: 1;
}
.hero-art img:first-child {
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
}
.hero-art img:nth-child(2) {
  bottom: -145px;
  right: 72px;
}
.hero-art img:nth-child(3) {
  right: 30px;
  bottom: -120px;
}
.hero-art img:last-child {
  left: 255px;
  top: -24px;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-info {
  flex: 1;
  padding-right: 99px;
  flex-shrink: 0;
}
.hero-heading {
  font-family: var(--secondary-font);
  font-size: 5rem;
  font-weight: 800;
  line-height: 120%;
  max-width: 368px;
}
.hero-desc {
  margin-top: 20px;
  color: var(--text-color-black-gray);
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  line-height: 155.556%;
}
.hero-contact {
  margin-top: 42px;
  display: flex;
  align-items: center;
  gap: 0 36px;
}
.hero-watch {
  display: flex;
  align-items: center;
  gap: 0 9px;
}
.hero-watch:hover .half-circle-button {
  transform: rotate(45deg);
}
.hero-watch:hover .play-btn {
  transform: rotate(-45deg);
}
.half-circle-button,
.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}
.half-circle-button {
  width: 59px;
  height: 59px;
  border-radius: 100rem;
  border: 4px solid var(--primary-color);
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}
.play-btn {
  width: 44px;
  height: 44px;
  border-radius: 100rem;
  background-color: #83a17d;
  transform: rotate(45deg);
}
.play-btn svg {
  color: #fef6fb;
}
.play-btn-desc {
  color: var(--primary-color-black);
  font-size: 1.8rem;
  font-weight: 600;
}
.hero-media {
  width: 56.6%;
  display: flex;
  gap: 0 20px;
  justify-content: flex-start;
  position: relative;
  left: -23px;
}
.hero-media::after {
  content: "";
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  top: 60%;
  transform: translateY(-50%);
  background: #4dbb9a;
  filter: blur(137px);
  width: 340px;
  height: 340px;
  border-radius: 100rem;
  z-index: -1;
}
.hero-media img:nth-child(2) {
  position: relative;
  bottom: -77px;
}
.hero-img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 110px;
}
/* Partner */
.partner {
  margin-top: 220px;
}
.partner-container {
  border-radius: 100.5px;
  background: var(--secondary-color-light-green);
  padding: 76px 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-container figure:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 0 11px;
}
.partner-container figure:nth-child(3) span {
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 400;
}
/* Service */
.service {
  margin-top: 53px;
}
.service-container {
  padding: 53px 0 78.5px;
}
.service-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.service-heading {
  margin-top: 12px;
  max-width: 520px;
  position: relative;
}
.service-heading::after {
  width: 66px;
  height: 2px;
  background: var(--primary-color-black);
  content: "";
  position: absolute;
  right: 103px;
  bottom: 19px;
}
.service-left {
  display: flex;
  align-items: center;
  gap: 0 17px;
}
.service-left figure {
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-light-green);
  transition: all 0.2s linear;
}
.service-left figure:hover {
  background-color: var(--primary-color);
}
.service-left figure:hover svg {
  color: #fff;
}
.service-list {
  margin-top: 76px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.service-item {
  width: calc(33.33% - 10.67px);
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
.service-item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-item:hover .service-item-content {
  transform: translateX(18px);
}
.service-img {
  width: 370px;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.service-item-content {
  max-width: 268px;
  margin: 24px auto 23px 0;
  transition: all 0.2s linear;
}
.service-item-heading {
  font-size: 2.2rem;
  line-height: 100%;
}
.service-item-desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 171.429%;
}
/* About */
.about {
  margin-top: 70.5px;
}
.about-container {
  position: relative;
}
.about-art img {
  position: absolute;
  z-index: 1;
}
.about-art img:first-child {
  top: -20px;
  left: 80px;
}
.about-art img:last-child {
  top: -20px;
  left: 34px;
}
.about-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 64px;
}
.about-media {
  position: relative;
  flex: 1;
}
.about-thumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-img {
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about-img:first-child {
  width: 284px;
  height: 480px;
  object-fit: cover;
  position: relative;
  bottom: -77px;
}
.about-img:last-child {
  width: 286px;
  height: 480px;
  object-fit: cover;
}
.about-stat {
  position: absolute;
  right: 0;
  bottom: -69px;
  padding: 19px 17px 11px;
  max-width: 143px;
  border-radius: 8px;
  background: #fff;
  font-family: var(--secondary-font);
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}
.about-stat-desc {
  color: var(--primary-color-black);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 4px;
}
.about-stat span:nth-child(2) {
  display: block;
  margin: 6px 0 0 4px;
  color: var(--text-color-black-gray);
  font-size: 1rem;
  font-weight: 400;
}
.about-stat span:nth-child(3),
.about-stat span:nth-of-type(4),
.about-teams span {
  margin-top: 10px;
  color: var(--primary-color-black);
  font-size: 1rem;
  font-weight: 500;
  display: block;
}
.loading {
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #eaeaea;
  margin-top: 3px;
  position: relative;
}
.loading::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 40%;
  border-radius: 10px;
  background: #83a17d;
}
.about-stat span:nth-of-type(4) {
  margin-top: 3px;
  float: right;
}
.circle {
  margin-top: 20px;
}
.about-teams {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-user {
  display: flex;
  align-items: center;
}
.about-teams span {
  margin-top: 0;
}
.about-user img {
  width: 16px;
  height: 16px;
  border-radius: 100rem;
  border: 1px solid #fff;
  margin-left: -6px;
}
.about-user img:first-child {
  margin-left: 0;
}
.about-content {
  width: 42.5%;
}
.about-heading {
  margin-top: 20px;
}
.about-desc {
  margin-top: 11px;
}
.about-content-stat {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #83a17d;
}
.about-content-stat span:nth-child(2) {
  font-size: 1.4rem;
  line-height: 171.429%;
}
/* Process */
.process {
  margin-top: 200px;
  padding-bottom: 148px;
}
.process-heading {
  max-width: 561px;
  padding-right: 84px;
  position: relative;
  margin-top: 20px;
}
.process-heading::after {
  content: "";
  position: absolute;
  right: 70px;
  bottom: 18px;
  width: 66px;
  height: 2px;
  background: var(--primary-color-black);
}
.process-list {
  margin-top: 81px;
}
.process-item {
  padding: 46px 41px 21px 20px;
  display: flex;
  justify-content: space-between;
  min-height: 185px;
  align-items: center;
  gap: 0 175px;
  border-radius: 33px;
  border-bottom: 3px solid #83a17d;
  transition: all 0.2s linear;
}
.process-item:hover {
  background: var(--secondary-color-light-green);
  transform: translateX(15px);
}
.process-item:hover .process-item-heading {
  transform: translateX(15px);
}
.process-item:first-child {
  position: relative;
}
.process-item-content {
  display: flex;
  align-items: center;
  gap: 0 49px;
}
.process-item:first-child .process-item-content {
  display: inline-block;
}
.process-item-content:first-child div {
  display: flex;
  align-items: center;
  gap: 0 49px;
}
.process-number {
  color: var(--primary-color);
  font-size: 7.2rem;
  font-weight: 600;
}
.process-item-heading {
  transition: all 0.2s linear;
  font-size: 2.2rem;
}
.learn-more {
  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 141px;
}
.process-item-media {
  position: absolute;
  bottom: 0;
  right: 92px;
}
.process-item-desc {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  line-height: 155.556%;
  max-width: 572px;
}
/* Project */
.project {
  background: var(--primary-color);
}
.project-container {
  padding: 116px 0 63px;
  position: relative;
}
.project-heading {
  max-width: 457px;
  color: #fff;
  position: relative;
}
.project-heading::after {
  content: "";
  position: absolute;
  width: 66px;
  bottom: 20px;
  right: 100px;
  height: 2px;
  background: var(--secondary-color-blue);
}
.project-content {
  display: flex;
  align-items: center;
  gap: 0 93px;
}
.project-text {
  max-width: 590px;
}
.project-desc,
.project-link span {
  color: var(--secondary-color-gray);
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  line-height: 155.556%;
}
.project-link {
  margin-top: 13px;
  display: flex;
  align-items: center;
  gap: 0 26px;
}
.project-link span {
  color: #fff;
}
.project-media video {
  margin-top: 65px;
  border-radius: 22px;
  background-color: #000;
}
.project-art img:first-child {
  position: absolute;
  top: 123px;
  right: -56.3px;
}
.project-art img:last-child {
  position: absolute;
  top: 210px;
  right: -54px;
}
/* Feature */
.feature-container {
  padding: 140px 0 92px;
}
.feature-heading,
.feature-desc {
  text-align: center;
  margin: 0 auto;
}
.feature-heading {
  max-width: 520px;
}
.feature-desc {
  max-width: 547px;
  margin-top: 20px;
}
.feature-list {
  margin-top: 103px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 45px;
}
.feature-item {
  text-align: center;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  padding: 79px 27px 74px 37px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.feature-item:hover {
  transform: translateY(-59px);
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}
.feature-item-content {
  margin-top: 24px;
}
.feature-sub-heading {
  font-size: 2rem;
}
.feature-sub-desc {
  font-size: 1.4rem;
  text-align: center;
  line-height: 171.429%;
  margin-top: 9px;
}
/* Blog */
.blog-container {
  padding: 92px 0 102px;
}
.blog-content {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-heading {
  max-width: 520px;
  position: relative;
}
.blog-heading::after {
  content: "";
  position: absolute;
  bottom: 16px;
  right: -50px;
  width: 82px;
  height: 3px;
  background: var(--primary-color-black);
}
.blog-desc {
  max-width: 409px;
}
.blog-list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blog-item {
  cursor: pointer;
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
  transition: all 0.2s linear;
  height: 560px;
}
.blog-item:hover {
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}
.blog-item:hover .blog-item-content {
  padding-left: 30px;
  padding-right: 49px;
}
.blog-img {
  width: 360px;
  height: 317px;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
}
.blog-item-content {
  padding: 26px 14px 12px 0;
  max-width: 360px;
  transition: all 0.2s linear;
  min-height: 204px;
}
.blog-tag {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 7px 34px;
  display: inline-block;
  border-radius: 20px;
  background: var(--secondary-color-light-green);
}
.blog-item-heading {
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 166.667%;
  margin-top: 13px;
  padding-bottom: 38px;
  border-bottom: 1px solid #c4c4c4;
}
.blog-date {
  margin-top: 16px;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
}
/* Footer */
.footer {
  background-color: var(--primary-color);
}
.footer-container {
  padding: 72px 0 96px;
  display: grid;
  grid-template-columns: 8.6fr repeat(3, 1fr) 2fr;
  grid-gap: 50px;
}
.footer-column:not(:first-child) {
  margin-top: 20px;
}
.footer-big-heading {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
}
.footer-heading {
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 155.556%;
}
.footer-column form {
  display: flex;
  align-items: center;
  width: 354px;
  gap: 0 32px;
  padding-bottom: 11px;
  border-bottom: 1px solid var(--secondary-color-gray);
}
.footer-column input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--secondary-color-gray);
  font-family: var(--primary-font);
  font-size: 2.2rem;
  font-weight: 600;
  padding: 25px 0;
}
.social {
  margin-top: 47px;
  display: flex;
  align-items: center;
  gap: 0 22px;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100rem;
  border: 1px solid #265252;
  transition: all 0.2s linear;
}
.social a:hover {
  background-color: #a75325;
}
.footer-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px 0;
}
.footer-link {
  color: var(--secondary-color-gray);
  font-family: var(--secondary-font);
  font-weight: 500;
}
